
  /* ===========contact.html========= */

.contact-page{
    background: #F9E4D4;
  }
  
.contact-page .nav ul li a{
    color: #041562;
  }
.contact-page .nav ul li a:hover{
    color: #DA1212;
}
.contact-banner{
    position: relative;
    height: 50vh;
    background: #F9E4D4;
}
.contact-banner .section-heading{
  text-align: center;
}
.contact-banner .section-heading h2{
  text-transform: capitalize;
  color: #041562;
  font-weight: 600;
  font-size: 2.8rem;
}
.contact-banner .section-heading span{
  display: inline-block;
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #DA1212;
  color: #041562;
  font-weight: 500;
  text-transform: uppercase;
}
.contact-info{
  position: relative;
  background: #041562;
  height: 40vh;
  /* width: 100; */
  display: flex;
  justify-content: center;
}
.contact-info .contact-form{
  position: absolute;
  top: -90%;
  width: 1000px;
  height: 500px;
  background: #fff;
  z-index: 999;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 5px;
  display: flex;
}
.form{
width: 600px;
padding: 2rem;
text-align: center;
}
.form :where(input , textarea){
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  border: #041562 solid 0.5px;
  padding:0.5rem 1rem;
  position: relative;
  border-radius: 5px;
}
.form :where(input:focus , textarea:focus){
  border: none;
  outline: #777777 solid 1px;
}
.form ::placeholder{
  position: absolute;
  top: 0.2rem;
  color: black;
  font-size: 0.87rem;
  font-family: 'Nova Mono', monospace; 
  text-transform: lowercase;
  opacity: 0.5;
}
.form textarea{
width: 100%;
height: 100px;
}
.form .send{
  width: 150px;
  margin: 0.5rem auto;
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif; 
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  background: #DA1212;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 0;
}
.images{
  position: relative;
  background: url("../img/3499556.png");
opacity: 0.6;
width: 400px;
/* background: #FAFFAF; */
}
.images .services-right-dec .squre{
width: 40px;
height: 40px;
z-index: 80;
}
.images .services-right-dec{
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0rem;
  right: -10rem;

} 
.images img{
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.socialss{
  color: #F9E4D4;
  background: #041562;
  height: 150px;

}
.socials{
  color: #F9E4D4;
  background: #041562;
  display: flex;
  justify-content: space-between;

}
.socials h3 span{
  color: #F9E4D4;
}
.socials span{
  color: #fff;
}
.socials h3{
  font-size: 1rem;
}
.socials .icons{
  color: #fff;
}